.main {
	width: 980px;
	height: 455px;
	margin-top: 10px;
	margin-left: 220px;
}

.focus {
	float: left;
	width: 721px;
	height: 455px;
}

.newsflash {
	float: right;
	width: 250px;
	height: 455px;
}

.news {
	height: 165px;
}

.lifeservice {
	height: 209px;
}

.bargain {
	margin-top: 5px;
}