/* 
	1. 所有页面所共有的样式，如头部和页脚
*/

/* 版心 */
.w {
	width: 1200px;
	margin: 0 auto;
}

/* 浮动 */
.fl {
	float: left;
}

.fr {
	float: right;
}

/* 共有颜色 */
.style_red {
	color: #c81623;
}

/* 快捷导航栏整体样式 */
.shortcut {
	height: 31px;
	line-height: 31px;
	background-color: #f1f1f1;
}
/* li浮动 */
.shortcut .fl ul li {
	float: left;
}

.shortcut .fr ul li {
	float: left;
}

/* 使用CSS创造竖线 */
.shortcut .fr ul li:nth-child(even) {
	width: 1px;
	height: 12px;
	background-color: #666;
	margin: 9px 15px 0;
}