/* 
	1. 所有页面所共有的样式，如头部和页脚
*/

/* 版心 */
.w {
	width: 1200px;
	margin: 0 auto;
}

/* 字体声明 */
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?tomleg');
	src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?tomleg') format('truetype'),
		url('../fonts/icomoon.woff?tomleg') format('woff'),
		url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

/* 浮动 */
.fl {
	float: left;
}

.fr {
	float: right;
}

/* 共有颜色 */
.style_red {
	color: #c81623;
}

/* 快捷导航栏整体样式 */
/* -----------------Start -------------- */
.shortcut {
	height: 31px;
	line-height: 31px;
	background-color: #f1f1f1;
}
/* li浮动 */
.shortcut .fl ul li {
	float: left;
}

.shortcut .fr ul li {
	float: left;
}

/* 使用CSS创造竖线 */
.shortcut .fr ul li:nth-child(even) {
	width: 1px;
	height: 12px;
	background-color: #666;
	margin: 9px 15px 0;
}

/* 下拉三角 */
.arrow-icon::after {
	content: "\e91e";
	font-family: "icomoon";
	margin-left: 6px;
}
/* -----------------END------------ */

/*
 * 头部模块样式内容
 * 作者：JdSSzzr
 * ------------- Start ------------ 
 */
.header {
	position: relative;
	height: 105px;
}

/* logo */
.logo {
	position: absolute;
	top: 25px;
	width: 171px;
	height: 61px;
}

.logo a {
	display: block;
	width: 171px;
	height: 61px;
	background: url(../images/logo.png) no-repeat;
	font-size: 0;
}

/* Search模块 */
.search {
	position: absolute;
	left: 346px;
	top: 25px;
	width: 538px;
	height: 36px;
	border: 2px solid #b1191a;
}

.search input {
	float: left;
	width: 454px;
	height: 32px;
	padding-left: 10px;
}

.search button {
	float: left;
	width: 80px;
	height: 32px;
	background-color: #b1191a;
	font-size: 16px;
	color: #fff;
}

/* hotwords */
.hotwords {
	position: absolute;
	top: 66px;
	left: 346px;
}

.hotwords a {
	margin: 0 10px;
}

/* shopcar */
.shopcar {
	position: absolute;
	right: 60px;
	top: 25px;
	width: 140px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #dfdfdf;
	background-color: #f7f7f7;
}

.shopcar::before {
	content: "\e93a";
	font-family: "icomoon";
	margin-right: 5px;
	color: #b1191a;
}

.shopcar::after {
	content: "\e920";
	font-family: "icomoon";
	margin-left: 10px;
}

.count {
	position: absolute;
	left: 105px;
	top: -5px;
	height: 14px;
	line-height: 14px;
	color: #fff;
	background-color: #e60012;
	padding: 0 5px;
	border-radius: 7px 7px 7px 0;
}
/* -------------  End  ------------ */

/*
 * Nav模块样式内容
 * 作者：JdSSzzr
 * ------------- Start ------------ 
 */

 .nav {
	height: 47px;
	border-bottom: 2px solid #b1191a;
 }

 .nav dropdown {
	float: left;
	width: 210px;
	height: 45px;
 }

 .nav navitems {
	float: left;
 }
/* -------------  End  ------------ */