/* 
	1. 所有页面所共有的样式，如头部和页脚
*/

/* 版心 */
.w {
	width: 1200px;
	margin: 0 auto;
}

/* 浮动 */
.fl {
	float: left;
}

.fr {
	float: right;
}

/* 共有颜色 */
.style_red {
	color: #c81623;
}

/* 快捷导航栏整体样式 */
.shortcut {
	height: 31px;
	line-height: 31px;
	background-color: #f1f1f1;
}

.shortcut ul li {
	float: left;
}